@media screen and(min-width: 1024px) and(max-width: 1300px){
    @mixin grid7{
        grid-column: 5/ span 7;
    }
    body{
        font-size: 1rem;
        max-height: 100vh;
    }
    .wrapper img{
        top: 2rem;
        left: 7rem;
        max-height: 15rem;
    }
    header{
        height: 50vh;
        margin-bottom: 2rem;
    }
    header nav{
        flex-direction: row;
        }
    button{
        width: 2.5rem;
        height: 2.5rem;
    }
    .border{
        width: 20vw;
        left: 3rem;
    }
    .name{
        display: block;
        top: 5rem;
        right: 20vh;
        font-size: 1.5rem;
    }
    .background{
        display: block;
        top: 95vh;

    }
    section article{
        margin-top: 2rem;
    }
    section .skills, section .strength{
        grid-column: 2/ span 3;
        max-height: 15rem;
    }
    section .about{
        @include grid7;
    }
    section .work{
        @include grid7;
        padding-top: 2rem;
    }
    section .education{
        @include grid7;
    }
    th{
        width: 25%;
    }
}