@media screen and(min-width: 768px) and(max-width: 1024px){
    @mixin grid7{
        grid-column: 5/ span 7;
    }
    body{
        font-size: 0.9rem;
        max-height: 55vh;
    }
    .wrapper img{
        height: 11rem;
        width: 11rem;
    }
    header{
        display: block;
        position: relative;
        height: 30vh;
    }
    header nav{
        flex-direction: row;
        }
    .border{
        width: 25vw;
        left: 2rem;
        font-size: 1rem;
    }
    .name{
        display: block;
        top: 5rem;
        right: 12vh;
        font-size: 1.5rem;
    }
    .background{
        display: block;
        top: 62vh;
    }
    section article{
        margin-top: 1.5rem;
    }
    section .strength{
        min-height: 13rem;
    } 
    .about{
        padding: 0rem 1rem;
        max-height: 10rem;
    }
    section .about{
        @include grid7;
    }
    section .work{
        @include grid7;
    }
    section .education{
        @include grid7;
    }
    th{
        width: 30%;
    }
}