body{
margin: 0;
background-color:whitesmoke;

}
header{
    position: relative;
    height: 13rem;
    width: 100vw;
}
nav{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 18rem;
    height: 10rem;
}
a{
    color: #265a64;
    font-size: .5rem,;
    padding: 0rem .5rem;
}
#border1{
background-color: #265a64;
width: 13rem;
height: 100%;
position: fixed;
z-index: -1;
}
img{
    position: absolute;
    left: 1rem;
    top: 2rem;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

section{
    display: flex;
    flex-direction: row;
}

#thisisme{
 position: absolute;
 top: 3rem;
 left: 15rem;
 width: 20rem;
 flex-direction: column;
}
#whathaveidone{
    width: 20rem;
    position: absolute;
    left: 14rem;

}
#shortinfo{
    position: absolute;
    left: 1rem;
}
main{
    height: 80vh;
}
footer{

padding: 2rem 0rem;
text-align: center;
width: 100%;

}
th{
    padding-right: 1rem;
    width: 6rem;
    vertical-align: text-top;
}