@media screen and (min-width: 768px){

    header{
        height: 20rem;      
    }
    nav{
        width: 18rem;
        height: 10rem;
    }
    a{
        font-size: 1.5rem,;
    }

    #border1{
    left: 2rem;
    width: 12rem;
    }

    img{
        width: 15rem;
        height: 15rem; 
    }
    section{
  
        column-gap: 5rem;
        padding: 0rem 1rem 0rem 3rem;
        width: 100%;
    }
    
    #thisisme{
        left:15vw;;
     width: 20rem;
 
    }
    #whathaveidone{
        width: 30rem;
        left: 23rem;
    
    }
    #shortinfo{
        left: 3rem;
    }
    main{
        height: 60vh;
    }

    th{

        width: 6rem;
    }
}